/* define variables for the primary colors */
$primary-1: #ec0f0f;
$primary-2: #b2ad7f;
$primary-3: #878f99;

/* use the variables */
.div-1 {
    background-color: $primary-1;

}
.div-2 {
    background-color: $primary-2;
}

.div-3 {
    background-color: $primary-3;
}
